# Byte-compiled / optimized / DLL files
api/__pycache__/
api/*.py[cod]
api/*$py.class

# C extensions
api/*.so

# Distribution / packaging
api/.Python
api/build/
api/develop-eggs/
api/dist/
api/dist-ssr/
api/downloads/
api/eggs/
api/.eggs/
api/lib/
api/lib64/
api/parts/
api/sdist/
api/var/
api/wheels/
api/share/python-wheels/
api/*.egg-info/
api/.installed.cfg
api/*.egg
api/MANIFEST

# PyInstaller
api/*.manifest
api/*.spec

# Installer logs
api/pip-log.txt
api/pip-delete-this-directory.txt

# Unit test / coverage reports
api/htmlcov/
api/.tox/
api/.nox/
api/.coverage
api/.coverage.*
api/.cache
api/nosetests.xml
api/coverage.xml
api/*.cover
api/*.py,cover
api/.hypothesis/
api/.pytest_cache/
api/cover/

# Translations
api/*.mo
api/*.pot

# Django stuff:
api/*.log
api/local_settings.py
api/db.sqlite3

# Flask stuff:
api/instance/
api/.webassets-cache

# Scrapy stuff:
api/.scrapy

# Sphinx documentation
api/docs/_build/

# PyBuilder
api/target/

# Jupyter Notebook
api/.ipynb_checkpoints

# IPython
api/profile_default/
api/ipython_config.py

# pyenv
api/.python-version

# celery beat schedule file
api/celerybeat-schedule

# SageMath parsed files
api/*.sage.py

# dotenv
api/.env

# virtualenv
api/venv/
api/ENV/
api/env/
api/env.bak/
api/venv.bak/

# Spyder project settings
api/.spyderproject
api/.spyproject

# Rope project settings
api/.ropeproject

# mkdocs documentation
api/site

# mypy
api/.mypy_cache/
api/.dmypy.json
api/dmypy.json

# Pyre type checker
api/.pyre/

# pytype static type analyzer
api/.pytype/

# Cython debug symbols
api/cython_debug/

# VS Code
.vscode/

# Node.js
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Editor directories and files
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?